/* HTML.CSS演習4*/
html {
  font-size: 62.5%;
  height: 100%;　　/*この指定のおかげで、ブラウザの表示域に収まる時でも、htmlは表示域分の高さを保つ*/
}
body {
  height: 100%;   /*この指定のおかげで、ブラウザの表示域に収まる時でも、bodyは表示域分の高さを保つ*/
}
.container {  /*元々bodyにあったcssを*/
  width: 980px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}
.header {
  background-color: #F5B4B3;
  height: 50px;
  font-size: 1.5rem;
}
.logo_image {
  width: 110px;
  float: left;
  margin: 0
}
.top_menu li {
  float: left;
  /* padding: 15px;  リスト文字をボックス要素にするためpadding削除し、width追記 */
  width: auto;
}
ul.top_menu {float: right;} /*top_menuを右寄せ*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
ul {
  /* 余白を削除 */
  margin: 0;
  padding: 0;
}
li {
  /*リスト先頭の黒丸を削除*/
  list-style: none;
}
.top_menu li a {
  color: #fff;
  text-decoration: none;
  /*リストをボックス要素にするためdisplay:block追加。消したpaddingをこちらに移植*/
  display: block;
  padding: 15px;
}
.top_menu li a:hover {
  text-decoration: underline;
}
.image_area {
    width: 100%;
}
.side-menu li {
  background-color: #F5B4B3;
  height: 6rem;
  margin-bottom: 10px;
}
.side-menu li a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2rem;
}
.banner img {
  width: 100%;
}
.banner {
  margin-top: 20px;
}
.side-menu {
  width: 300px;
  float: left;
}
.content {
  width: 660px;
  margin-left: 20px;
  float: left;
  font-size: 1.5rem;
}
.wrapper {
  margin-top: 10px;
  padding-bottom: 100px; /*これを入れることで80~90%でfooterが被らなくなる*/
}
.news {
  height: 200px;
  background-color: #FCE8E7;
  padding: 20px;
  overflow: scroll;
  line-height: 2;
}
.banner23_area{
  display: flex;
  flex-wrap: wrap;
}
.banner23_area li{
  width: calc(100%/2);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}
.banner23_area li img{
  max-width: 100%;
  height: auto;
}

.footer {
  background-color: #4D4D4D;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: table;
}
.footer p {
  font-size: 1rem;
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
