/* contact.html のみ適用のcss */
.contact {
  border-collapse: separate;
}
.contact tr{
  height: 6.7rem;
}
.contact th{
  width: 150px;
  text-align: right;
}
.contact td{
  padding-left: 10px;
}
.contact td .form{
  height: 5rem;
  width: 480px;
}
.Submit_area {
  text-align: center;
}
#Submit {
  font-size: 3rem;
  background-color: #fd7e00;
  color: #fff;
  padding: 10px;
}
#Submit:hover {
  opacity: 0.6;
}
