<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Web_tech_exam！！！！！！！！！！！！！</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <form action="indicate.cgi" method="POST">
       下記に文字を入力してください<br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="送信" >
    </form>
    <% result = connection.exec("select weight, give_for from crops;") %>
    <% result_others = connection.exec("SELECT give_for FROM crops WHERE give_for!='自家消費';") %>
    <% result_false = connection.exec("SELECT quality FROM crops WHERE quality=false;") %>
    <% data = [] %>
    <% data_others = [] %>
    <% data_false = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>
    <% result_others.each do |record| %>
      <%  data_others << "売った相手：#{record["give_for"]}" %>
    <% end %>
    <% result_false.each do |record| %>
      <%  data_false << "品質：#{record["quality"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
    <form action="goya_others.cgi" method="POST">
       下記のボタンを押すと、譲渡先が自家消費ではないものの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya_others"を、情報の目印とする -->
      <input type="text" name="goya_others" value="<%= data_others.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
    <form action="goya_false.cgi" method="POST">
       下記のボタンを押すと、品質が悪いものの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya_false"を、情報の目印とする -->
      <input type="text" name="goya_false" value="<%= data_false.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
